{{ if .Learning }}
<div id="learning" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "learning" }}
        </h2>
    </div>
    <div class="section__content">
        <ul>
        {{ range .Learning }}
            <div class="learning__item">
                <h3 class="learning__name">{{ .Name | safeHTML }}</h3>
                {{ if .Issuer }}{{ .Issuer | safeHTML }}{{ end }}
                {{ if .Date }}({{ .Date | safeHTML }}){{ end }}
            </div>
        {{ end }}
        </ul>
    </div>
</div>
{{ end }}
